<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <sites>
      <site name="core"
            inherits="website"
            hostName="$(env:SITE_HOST)"
            rootPath="/sitecore/content/Core"
            startItem="/home"
            enableItemLanguageFallback="true"
            patch:before="site[@name='website']" />
    </sites>
  </sitecore>
</configuration>